*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}




.caimg{
    height: 250px;
    width: 600px;
}

body{
    background-image: linear-gradient( rgb(65, 64, 64),rgb(214, 213, 213));
    background-repeat: no-repeat;
    height: 100vh;
}
.nome{
    display: grid;
    justify-content: center;
    position: initial;
    font-size: 200px;
}

header{
    position: fixed;
     padding: 25px 0; 
    background: rgb(83, 74, 74);
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
    position: fixed;
    top: 0px;
    right: 4px;
    width: 100vw;
    background-color: rgb(65, 64, 64);
    height: 120px;
    
}

.img{
    max-height: 60px;
    display: flex;
    align-items: center;
    
}
#img{
    height: 100px; 
}
.nav-item {
    margin: 0 15px;
    
  

}
.nav-list{
    display: flex;
    align-items: center;
    margin-left: 400px;
    
}
.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: rgb(243, 243, 243);
    font-weight: 400;
   
    
}
.nome{
    margin-top: 200px;
    display: grid;

}
.mobile-menu {
    display: none;
}
.mobile-menu-icon {
    display: none;

}
.fix{
    position: fixed;
    margin-left:400px;
    margin-top: -155px;
    padding: 1px;
    background: rgb(65, 64, 64);
}
.cadastrocima{
    background: rgb(65, 64, 64);
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
@media screen and (max-width: 800px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item{
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button{
        width: 20%;
    }
    .open {
        display: block;
    }
}
.icon{
    max-height: 60px;
}
.empresa{
    width: 600px;
}
.quem{
    font-size: 30px;
}
.somos{
    font-size: 50px;
    }
.carrosel{
    height: 250px;
    width: 600px;
    overflow: hidden;
    margin: 50px auto;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.7);
}
.carrosel ul{
    display: flex;
    list-style: none;
    width: 3600px;
    height: 250px;  
}
.carrosel li{
    position: relative;
    animation: slide 15s infinite ease-out;
}
@keyframes slide {
    0%{left:0px}
    8%{left:0px}
    16.66%{left:-600px}
    24.5%{left:-600px}
    33.32%{left:-1200px}
    41.65%{left:-1200px}
    49.98%{left:-1800px}
    58.31%{left:-1800px}
    66.64%{left:-2400px}
    74.97%{left:-2400px}
    83.3%{left:-3000px}
    91.63%{left:-3000px}
    100%{left:0px}
}
.localiza{
    display: flex;
    margin-top: 50px;
}
.imgloca{
    width: 600px;
    
}
.endereço{
    width: 400px;
    margin-left: 50px;
    font-size: 25px;
}
.entrarbaixo{
    width: 99%;
    height: 100px;
    display: grid;
    justify-items: center;
    align-items: center;
    margin-top: 50px;
}
.botcadastro{
    height: 40px;
    width: 200px;
    font-size: 15px;
    background: black;
    color: white;
    border-radius:50px;
    cursor: pointer;
}

